// Mixins in here
.custom-button(@eastern-blue){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @eastern-blue;
    margin: 0 10px 20px;
    cursor: pointer;
    width: auto;
    height: 45px;
    font-size: 1.5rem;
    border-radius: 10px;
    color: white ;
}