// Navigation Styles here
.home {
    .navigation {
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 2px dashed @navigation-border;
        display: flex;
        justify-content: space-between;
    }
    .links a {
        width:40%
        text-decoration: none;
    }
}